## Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.cache
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS
.DS_Store
Thumbs.db

## Rider
.idea/

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
